body {
    margin: 0;
    padding: 0;
    background: radial-gradient(circle at 50% 50%, #005c97, #000000);
    height: 100vh;
    overflow: hidden;
    font-family: sans-serif;
}

#app-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    padding: 20px;
    height: 100%;
}